.git
.gitignore
.rbenv-vars
README.md
.byebug_history
*.log
log/*
tmp/*
node_modules
vendor/bundle
public/system
public/packs
storage
coverage
spec/tmp
.bundle
.ruby-version
.ruby-gemset
.bundle/*
.capistrano/*
.bundle/*
.elasticbeanstalk/*
