/*body {
	margin: auto;
	width: 500px;
}*/

img {
	margin: auto;
	width: 500px;
}

footer {
	background-color: yellow;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	width: 150px;
	text-align: center;
	margin: 10px auto 20px auto;
	padding: 5px;
}

#navbar {
	background-color: yellow;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	width: 150px;
	text-align: center;
	margin: 10px 200px 20px 5px;
	padding: 5px;
}

#navbar li:hover {
	font-style: italic;
}
