body {
	background-color: blue;
}
h1, h2{
	background-color: orange;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin: 0px;
	font-size: 2em;
	color: blue;
	border: 1px solid white;
}

h3 {
	background-color:  white;
	padding: 10px;
	color: orange;
}

p {
	color: white;
	font-size: 1.2em;
}

a {
	color: orange;
	padding: 5px;
}

ul {
	color: white;
	font-size: 1.2em;
}

.selection {
	background-color: orange;
	border: 1px dashed white;
}

footer, header {
	background-color: white;
	width: 100%;
	text-align: right;
	padding: 10px;
	margin: 0px;
	font-size: 1.5em;
	color: blue;
}
