body {
	background-color: black;
}
h1, h2, footer{
	background-color: gray;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin: 0px;
	font-size: 2em;
}

h3 {
	background-color: gray;
	padding: 10px;
}

p {
	color: white;
	font-size: 1.2em;
}

a {
	color: yellow;
}
