<footer class="spacer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
					<h3 class="white">Thank you for stopping by</h3>
        </div>
      </div>    
    </div>  
  </footer>