<footer class="spacer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
					<h2 class="glow white">Thank you for stopping by</h2>
        </div>
      </div>    
    </div>  
  </footer>