<!-- Interests -->
  <div class="bg-site">
    <section id="interest" class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">Finally</h2>
           <p class="black glow">A giggle a day keeps pessimistic attitudes away.</p>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <%= image_tag('hotkeys.png', alt: 'Hotkey Hell', class: "image-responsive max-500") %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <%= image_tag('chickenrobot.jpg', alt: 'Chicken Robot', class: "image-responsive max-500") %>
          </div>
        </div>
    </section>
  </div>
