<!-- Funnies -->
<div class='bg-site'>
  <section id='interest' class='home-section'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
          <div class='section-heading'>
            <h2 class='black glow'>Finally</h2>
            <p class='black glow'>A giggle a day keeps pessimistic attitudes away.</p>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
          <%= image_tag('hotkeys.png', alt: 'Hotkey Hell', class: 'image-responsive max-500 pad-5P') %>
        </div>
      </div>
    </div>
  </section>
</div>
