<!-- Navigation -->
    <link href="css/grayscale.css" rel="stylesheet">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand pad-down-20 page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i><span class="light"> Boot</span>Coder
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll black" href="#works">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll red" href="#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll red" href="#about">History</a>
                    </li>
                    <li>
                        <a class="page-scroll red" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body" id="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">Please note: This site is a work in progress.</p>
                        <h1 class="brand-heading glow">Hunter Chapman</h1>
                        <p class="intro-text">Dev BootCamp Grad<br>Seeking FullStack Rails or Javascript opportunities</p>
                        <a href="#works" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>