<!-- History -->
  <div class="bg-site">
    <section id="about" class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">A Little History</h2>
           <p class="black glow">Many roads traveled, all have brought me<br> exactly where I need to be... Here and Now</p>
          </div>
          </div>
        </div>

        <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
            <h4 class="black glow">Youth</h4>
            <%= link_to image_tag("tractor1.jpg", :alt => "Farm Life", class: "image-responsive max-200"), root_path %>
            <p class="black glow">Yes, A real farm. With Cows and Chickens and everything.</p>
          </div>
        </div>      

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" >
          <div class="box-team wow bounceInDown" data-wow-delay="0.3s">
              <h4 class="black glow">College Years</h4>
              <%= link_to image_tag("bw-college.jpg", :alt => "College Life", class: "image-responsive max-200"), root_path %>
              <p class="black glow">In a word they were,<br> interesting.</p>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow bounceInDown" data-wow-delay="0.5s">
            <div class="container-fluid">
              <h4 class="black glow">Management</h4>
              <%= link_to image_tag("RP-Logo-Circle.png", :alt => "Renaissance Printing", class: "image-responsive max-200 pad-5P-down"), root_path %>
              <p class="black glow">8 Years navigating the vicotries & perils of operating a business </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow bounceInDown" data-wow-delay="0.7s">
            <h4 class="black glow">Dev BootCamp</h4>
            <%= link_to image_tag("dbc-standard-logo-gray.png", :alt => "DevBootCamp", class: "image-responsive max-200 pad-10P-down"), root_path %>
            <p class="black glow">Serious Web Development Training Seriously<br></p>
          </div>
        </div>

      </div>    
    </section>
  </div>