<!-- History -->
<div class="bg-site">
  <section id="about" class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2 class="black glow">A Little History</h2>
            <p class="black glow">Many roads traveled, all have brought me exactly where I need to be...<br> Here and Now</p>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="box-team wow slideInRight" data-wow-delay="0.1s">
            <h4 class="black glow">Youth</h4>
            <%= link_to image_tag("tractor1.jpg", :alt => "Farm Life", class: "image-responsive max-200"), "https://www.google.com/maps/place/30%C2%B005'10.3%22N+83%C2%B015'28.5%22W/@30.0861812,-83.2666748,2808m/data=!3m2!1e3!4b1!4m14!1m7!3m6!1s0x88eecb929a115edb:0x15ea2893f8ab024c!2sMayo,+FL+32066!3b1!8m2!3d30.053001!4d-83.1748578!3m5!1s0x0:0x0!7e2!8m2!3d30.0861816!4d-83.2579202", target: :_blank %>
            <p class="black glow">Yes, A real farm. With Cows and Chickens and everything.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
          <div class="box-team wow slideInRight" data-wow-delay="0.3s">
              <h4 class="black glow">College Years</h4>
              <%= image_tag("bw-college.jpg", :alt => "College Life", class: "image-responsive max-200") %>
              <p class="black glow">In a word they were,<br> interesting.</p>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="box-team wow slideInRight" data-wow-delay="0.5s">
            <div class="container-fluid">
              <h4 class="black glow">Management</h4>
              <%= image_tag("RP-Logo-Circle.png", :alt => "Renaissance Printing", class: "image-responsive max-200 pad-5P-down") %>
              <p class="black glow">8 Years navigating the victories & perils of operating a business </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="box-team wow slideInRight" data-wow-delay="0.7s">
            <h4 class="black glow">Dev BootCamp</h4>
            <%= link_to image_tag("dbc-standard-logo-gray.png", :alt => "DevBootCamp", class: "image-responsive max-200 pad-10P-down"), "https://www.youtube.com/watch?v=fPoj6s8S-FE", target: :_blank %>
            <p class="black glow">Serious Web Development Training Seriously<br></p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
