<!-- History -->
  <div class="bg-site">
    <section id="about" class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2>A Little History</h2>
           <p>Many roads travelled and all have brought me exactly where I need to be<br>Here and Now</p>
          </div>
          </div>
        </div>

        <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
          <div class="box-team wow bounceInDown">
            <h4>Youth</h4>
            <%= link_to image_tag("tractor1.jpg", :alt => "Farm Life", class: "image-responsive max-200"), root_path %>
            <p>Some text here about early years</p>
          </div>
        </div>      

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
          <div class="box-team wow bounceInDown">
              <h4>College Years</h4>
              <%= link_to image_tag("college.jpg", :alt => "College Life", class: "image-responsive max-200"), root_path %>
              <p>Some text here about early twenties</p>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
          <div class="box-team wow bounceInDown">
            <div class="container-fluid">
              <h4>Management</h4>
              <%= link_to image_tag("RP-Logo-Circle.png", :alt => "Renaissance Printing", class: "image-responsive max-200"), root_path %>
              <p>Some text here about awesome points</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
            <h4>Dev BootCamp</h4>
            <%= link_to image_tag("dbc-standard-logo-gray.png", :alt => "DevBootCamp", class: "image-responsive max-200"), root_path %>
            <p>Serious Training Seriously<br></p>
          </div>
        </div>

      </div>    
    </section>
  </div>