<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body" id="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 pad-25P-down">
                        <a href="#services"><%= image_tag("my-name-HTC-trans1.png", :alt => "Ruby On Rails", class: "name-badge image-responsive max-400") %></a>
                        <p class="intro-text">Recent Dev BootCamp Graduate<br>Seeking FullStack Rails || Javascript opportunities</p>
                        <a href="#works" class="white glow page-scroll">
                            <i class="fa fa-arrow-circle-down"></i>
                        </a>
                    </div>
                </div>
        </div>
        </div>
    </header>