<!-- <div class="menu-area">
  <div id="dl-menu" class="dl-menuwrapper">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
      <li>
        <a href="#intro">Home</a>
      </li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#contact">Contact</a></li>
      <li>
        <a href="#"></a>
        <ul class="dl-submenu">
          <li><a href="#">Sub menu</a></li>
          <li><a href="#">Sub menu</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>   -->

<!-- intro area -->   
<div id="intro">
  <div class="intro-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brand">
            <h1><%= link_to "Hunter T. Chapman", root_path %></h1>
            <div class="line-spacer"></div>
              <p><span>BootCoder</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <h4>Please Note:</h4>
    <h3>This Site is a seriously BETA</h3>
  </div>
</div>