<!-- History -->
  <div class="bg-site">
    <section id="about" class="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">Interests</h2>
           <p class="black glow">Areas I'd love to contribute to.</p>
          </div>
          </div>
        </div>

        <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="box-team wow rotateInUpLeft" data-wow-delay="0.1s">
            <h4 class="black glow">Robotics</h4>
            <%= image_tag("robo-logo2.png", :alt => "Farm Life", class: "image-responsive max-200") %>
            <p class="black glow">When robots rule the world, at least I'll still be able to land a programming gig!</p>
          </div>
        </div>      

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="box-team wow rotateInUpLeft" data-wow-delay="0.3s">
            <h4 class="black glow">Electric Vehicles</h4>
            <%= image_tag("EV-2.png", :alt => "DevBootCamp", class: "image-responsive max-200 pad-10P-down") %>
            <p class="black glow">I've already built one of my own, now it's time to get the rest of the world on board.<br></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="box-team wow rotateInUpLeft" data-wow-delay="0.5s">
            <h4 class="black glow">"Auto"-Mobiles</h4>
            <%= image_tag("automobile.png", :alt => "DevBootCamp", class: "image-responsive max-200 pad-10P-down") %>
            <p class="black glow">Smart cars don't have to be perfect, they just have to be better than us. But let's work on perfect anyways.<br></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
          <div class="box-team wow rotateInUpLeft" data-wow-delay="0.7s">
              <h4 class="black glow">3D Printing</h4>
              <%= image_tag("makerbot.png", :alt => "College Life", class: "image-responsive max-200") %>
              <p class="black glow">Bringing this technology to the masses is akin to saying hello to the future.<br>Possibilities == Endless</p>
          </div>
        </div>

      </div>    
    </section>
  </div>