     <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow rotateInUpLeft" data-wow-delay="0.5s">
            <div class="container-fluid">
              <h4 class="black glow">Giving Back</h4>
              <%= link_to image_tag("cfa-logo.png", :alt => "Renaissance Printing", class: "image-responsive max-200 pad-5P-down"), root_path %>
              <p class="black glow">Turns out, I can change the world from my computer, stay tuned...</p>
            </div>
          </div>
        </div>