<!-- Projects -->
<div class="bg-site">
  <section id="works" class="home-section">
    <div class="container">
      
      <div class="row">
        <div class="col-md-offset-0 col-md-12">
          <div class="section-heading">
            <h2 class="glow black">Projects</h2>
            <p class="black glow">I've pushed a commit or two in my day...</p>
          </div>
        </div>
      </div>

      <!-- dynamic project layout -->
      <!-- slider  -->
      <div class="container">
        <div class="row col-md-12" id="owl-slider">
          <% bc_projects %>
          <% @projects.each do |item| %>
          <div class="item">
            <%= link_to image_tag(item.project_img, :alt => item.project_name, class: "image-responsive max-350"), item.project_url %>
            <br>
            <br>
            <h4 class="black glow"><%= item.project_name %></h4>
            <br>
          </div>
          <% end %>        
        </div>    
      </div>

    </div>
  </section>
</div>
