<!-- spacer -->  

<section id="spacer4" class="home-section spacer">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="curved-1 bg-space">
          <h2 class="black glow pad-5P-down">I'm a Junior Developer</h2>
          <p class="lead black pad-5P-up">I know I have a long way to go. So I'm looking for a great company to grow with.</p> 
        </div>
      </div>        
    </div>
  </div>
</section> 