<!-- spacer 2-->  

    <section id="spacer5" class="home-section">  
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="curved-1 bg-space">
              <h2 class="black pad-5P-down">Git Foo</h2>
              <%= link_to image_tag("git-obiwan.png", :alt => "Farm Life", class: "image-responsive max-200"), root_path %>
              <p class="lead black pad-5P-up">If commit  .include! "initial", push to master you shall not.<br>-Yoda</p>
            </div>
          </div>        
        </div>
      </div>
    </section>  