<!-- spacer 2-->  

    <section id="spacer2" class="home-section spacer">  
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="glow curved-1 bg-site">
              <h2 class="wow bounceInDown white pad-5P-down" data-wow-delay="1s">SUPER AWESOME || No Deal</h2>
              <p class="lead wow bounceInUp white pad-5P-up" data-wow-delay="1s">I want to be involved with people that are passionate about what they do, </p> 
            </div>
          </div>        
        </div>
      </div>
    </section>  