<!-- spacer 3 -->   
  
    <section id="spacer3" class="home-section spacer">  
           <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="glow bg-site curved-1 transparent">
            <h2 class="wow bounceInDown white" data-wow-delay="1s">Time is the fuel we all burn</h2>
            <p class="lead wow bounceInUp white" data-wow-delay="2s">Each of us have one opportunity to fully live each day in our life's. So take it and make it, choose to do all the great things, this and every day.</p> 
            </div>
          </div>        
        </div>
            </div>
    </section>  