<!-- spacer -->  

<section id="spacer4" class="home-section spacer">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="glow curved-1 bg-site">
          <h2 class="wow bounceInDown white pad-5P-down" data-wow-delay="1s">Some are born great, some achieve greatness, <br>& some have greatness thrust upon them.</h2>
          <p class="lead wow bounceInUp white pad-5P-up" data-wow-delay="1s">-William Shakespeare</p> 
        </div>
      </div>        
    </div>
  </div>
</section> 