<!-- spacer -->  

<section class="home-section spacer">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="glow curved-1 bg-site">
          <h2 class="glow pad-5P-down">Good Design && Best Practices</h2>
          <p class="lead glow pad-5P-up">Will carry me further than all the syntax memorization in the world.</p> 
        </div>
      </div>        
    </div>
  </div>
</section> 