<!-- spacer 2-->  

    <section id="spacer2" class="home-section spacer">  
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="curved-1 bg-space">
              <h2 class="black pad-5P-down">Super Awesome or No Deal</h2>
              <p class="lead black pad-5P-up">I'm going to be all in! I'd love to work with people that share that sense of dedication.</p>
            </div>
          </div>        
        </div>
      </div>
    </section>  