<!-- spacer -->  

<section class="home-section">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="curved-1 black bg-space">
          <h2 class="pad-5P-down mobile-js">Good Design and Best Practices</h2>
          <p class="lead pad-5P-up">Will carry me further than all the syntax memorization in the world.</p> 
        </div>
      </div>        
    </div>
  </div>
</section> 