<!-- spacer 3 -->   
  
    <section id="spacer3" class="home-section">  
     <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="bg-space curved-1 black transparent mobile-js">
              <h2 class="pad-5P-down">Time is the fuel we all burn</h2>
              <p class="lead pad-5P-up">Each of us has only this single chance to live each day to the fullest.<br>Take it and make it, choose to do all the great things, this and every day.</p> 
            </div>
          </div>        
        </div>
      </div>
    </section>  