<!-- spacer 3 -->   
  
    <section id="spacer3" class="home-section spacer">  
           <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="bg-site curved-1 transparent glow">
              
              <h2 class="glow pad-5P-down">Time is the fuel we all burn</h2>
              <p class="lead glow pad-5P-up">Each of us has only this single chance to live each day to the fullest. Take it and make it, choose to do all the great things, this and every day.</p> 
              
            </div>
          </div>        
        </div>
      </div>
    </section>  