<!-- Techs -->
  <div class="bg-site">
   <section id="services" class="home-section">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="white">Tech</h2>
           <p>I've covered a thing or two, here and there...</p>
          </div>
          </div>
        </div>

        <div class="row">
          
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="service-box wow bounceInDown pad-5P-LR" data-wow-delay="0.1s">
              <%= image_tag("ruby-logo.png", :alt => "Ruby", class: "image-responsive max-200") %>
              <h4 class="white">The Base</h4>
              <p>Rock solid foundation<br>of my personal code base.</p>
            </div>
          
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInDown" data-wow-delay="0.1s">
              <%= image_tag("ror-logo.png", :alt => "Ruby On Rails", class: "image-responsive max-200") %>
              <h4 class="white">The Rails Way</h4>
              <p>My preferred environment.<br>Modern solid web framework.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInDown" data-wow-delay="0.1s">
              <%= image_tag("jquery-logo.png", :alt => "Ruby", class: "image-responsive max-200") %>
              <h4 class="white">Shala Bing Hazza</h4>
              <p>I can do magic things on the INTERNET!</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInDown" data-wow-delay="0.1s">
              <%= image_tag("js-logo.png", :alt => "Ruby", class: "image-responsive max-200") %>
              <h4 class="white">You know much</h4>
              <p>Yet the most important thing to know, is how much we don't know yet.</p>
            </div>
          </div>
          

        </div>  
    </div>
  </section>
</div>