<!-- Techs -->
  <div class="bg-site">
   <section id="services" class="home-section">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">The Stack</h2>
           <p class="black glow">In all my life I've never seen a list I was so sure would be growing...Quickly</p>
          </div>
          </div>
        </div>

        <div class="row">
          
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="service-box wow bounceInUp pad-5P-LR" data-wow-delay="0.1s">
              <%= image_tag("ruby-logo.png", :alt => "Ruby", class: "image-responsive max-200") %>
              <h4 class="black glow text-center">The<br>Base</h4>
              <p class="black glow">Rock solid foundation<br>of my personal code base.</p>
            </div>
          
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.3s">
              <%= image_tag("ror-logo.png", :alt => "Ruby On Rails", class: "image-responsive max-200") %>
              <h4 class="black glow">The<br>Rails Way</h4>
              <p class="black glow">My preferred environment.<br>Modern solid web framework.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.5s">
              <%= image_tag("jquery-logo.png", :alt => "Ruby", class: "image-responsive max-200") %>
              <h4 class="black glow">Shala Bing<br>Hazza!</h4>
              <p class="black glow">Yay I can do "magic" things on the INTERWEB!</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.7s">
              <%= image_tag("js-logo.png", :alt => "Ruby", class: "image-responsive max-200") %>
              <h4 class="black glow">I know<br>a bunch</h4>
              <p class="black glow">Yet, the most important thing to know, is how much I don't know yet.</p>
            </div>
          </div>
          

        </div>  
    </div>
  </section>
</div>