<!-- History -->
  <div class="bg-car height1000">
    <section id="about" class="home-section">
      <div class="container">
        <div class="row pad-35P-down">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">Gallery</h2>
           <p class="black glow">Awesome Pics YEAAAAA!</p>
          </div>
          </div>
        </div>

        <div class="row">

	        <div class="">
	          <div class="box-team wow rotateInUpLeft" data-wow-delay="0.1s">
	            <h4 class="black glow">Coming Soon</h4>
	          </div>
	        </div>      

	      </div>
      </div>    
    </section>
  </div>