<!-- History -->
  <div class="bg-car height1000">
    <section id="about" class="home-section">
      <div class="container">
        <div class="row pad-35P-down">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">Gallery</h2>
           <p class="black glow">Awesome Pics YEAAAAA!</p>
          </div>
          </div>
        </div>


        <!-- slider  -->
        <div class="container col-md-12 col-xs-12 pad-2P">
        <br>
          <div class="row col-md-6 col-md-offset-5" id="gallery-slider">
                      
            <div class="item">
              <%= image_tag("gallery/dbc.jpg", class: "img-responsive max-350 curved-11") %>
            </div>
            <div class="item">
              <%= image_tag("gallery/tags.jpg", class: "img-responsive max-350") %>
            </div>
            <div class="item">
              <%= image_tag("gallery/urbie-shot.jpg", class: "img-responsive max-350") %>
            </div>
            <div class="item">
              <%= image_tag("gallery/star-trek.jpg", class: "img-responsive max-350") %>
            </div>

          </div>    
        </div>

      </div>    
    </section>
  </div>