<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message From: <%= @body.name %></h1>
    <h2>Reply @: <%= @body.email %></h2>
    <br>
    <h3><%= @body.body %></h3>

  </body>
</html>