<!DOCTYPE HTML>
<html>
	<header>
		<title>Blogs</title>
		<link rel="stylesheet" type="text/css" href="../unit1_week1/stylesheets/fav-styles.css">
		<!-- <a href="../index.html">Site Home</a>
		<a href="../unit1_week2/blog_index.html">Blog Index</a> -->
		
	</header>

	<body>
		<article>
			<h1>Blogs</h1>
			<h1>BootCoder</h1>
			
			<section>
				<h3>Blogs</h3>
           <ul>Tech Blogs
            <li><a href="../unit1_week2/week2_technical.html">Week 2</a></li>
            <li><a href="../unit1_week2/week3_technical.html">Week 3</a></li>
            <li><a href="../unit1_week2/week4_technical.html">Week 4</a></li>
            <li><a href="../unit1_week2/week5_technical.html">Week 5</a></li>
            <li><a href="../unit1_week2/week6_technical.html">Week 6</a></li>
            <li><a href="../unit1_week2/week7_technical.html">Week 7</a></li>
            <li><a href="../unit1_week2/week8_technical.html">Week 8</a></li>
            <li><a href="../unit1_week2/unit3_cheatsheet.html">ENUM CheatSheet</a></li>
           </ul>

           <ul>Cultural Blogs
            <li><a href="../unit1_week2/week2_cultural_blog.html">Week 2</a></li>
            <li><a href="../unit1_week2/week3_cultural_blog.html">Week 3</a></li>
            <li><a href="../unit1_week2/week4_cultural_blog.html">Week 4</a></li>
            <li><a href="../unit1_week2/week5_cultural_blog.html">Week 5</a></li>
            <li><a href="../unit1_week2/week6_cultural_blog.html">Week 6</a></li>     
            <li><a href="../unit1_week2/week7_cultural_blog.html">Week 7</a></li>
            <li><a href="../unit1_week2/week8_cultural_blog.html">Week 8</a></li>
            <li><a href="../unit1_week2/week9_cultural_blog.html">Week 9</a></li>
           </ul>

           <ul>Miscellaneous
            <li><a href="../unit1_week1/favs.html">Favorite Sites</a></li>            
           </ul>
        </section>
			
		</article>

		<footer>
			<a href="../index.html">Site Home</a>
			<!-- <a href="../unit1_week2/blog_index.html">Blog Index</a> -->
		</footer>
	</body>
</html>