<!DOCTYPE HTML>
<html>
	<header>
		<title>Blog</title>
		<link rel="stylesheet" type="text/css" href="../unit1_week1/stylesheets/fav-styles.css">
		<!-- <a href="../index.html">Site Home</a>
		<a href="../unit1_week2/blog_index.html">Blog Index</a> -->
	</header>

	<body>
		<article>
			<h1>Weekly Blog</h1>
			<h1>BootCoder</h1>
			
			<section>
				<h3>Title</h3>
				<p class = "break">Breaks go here</p>
				<p>Template stuff</p>
				
			</section>
		</article>

		<footer>
			<a href="../index.html">Site Home</a>
			<a href="../unit1_week2/blog_index.html">Blog Index</a>
		</footer>
	</body>
</html>