<!DOCTYPE HTML>
<html>
	<header>
		<title>Blog</title>
		<link rel="stylesheet" type="text/css" href="../unit1_week1/stylesheets/fav-styles.css">
		<!-- <a href="../index.html">Site Home</a>
		<a href="../unit1_week2/blog_index.html">Blog Index</a> -->
	</header>

	<body>
		<article>
			<h1>Week 9 Cultural Blog</h1>
			<h1>BootCoder</h1>
			
			<section>
				<h3>Learning Styles</h3>
				<p class = "break">multi-modal / kinesthetic learner</p>
				<p>Template stuff</p>
				<p>As a multimodal - kiesthetic learner I have the advantage of being able to grasp topics presented from several different view points. This post asks me to consider my learning style and how it has challenged me throughout phase 0. The answer to that is..not really. The biggest challenge for me in phase 0 was definitely time management. Balancing a 50-60 hour work week with pairs and blog post was not an easy task. I'm hoping that as I transition to phase 1 I will be able to ramp up my learning on all fronts.</p>
			</section>
		</article>

		<footer>
			<a href="../index.html">Site Home</a>
			<a href="../unit1_week2/blog_index.html">Blog Index</a>
		</footer>
	</body>
</html>