<!DOCTYPE html>
<html>
<head>
<base href="http://hqwide.com/" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Keep calm aviator glasses kcco the chive wallpaper | (54065)</title>
<meta name="keywords" content="keep, calm, aviator, glasses, kcco, the, chive, hd, wallpaper, desktop" />
<meta name="description" content="Keep calm aviator glasses kcco the chive wallpaper. HD wallpapers, widescreen wallpapers. (54065)" />
<link href="/templates/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/templates/style.css" />
<meta property="og:title" content="Keep calm aviator glasses kcco the chive wallpaper" />
<meta property="og:description" content="Keep calm aviator glasses kcco the chive wallpaper. Free HD wallpapers." />
<meta property="og:image" content="http://hqwide.com/wallpapers/m/55/keep_calm_aviator_glasses_kcco_the_chive_m54065.jpg" />
<meta property="og:url" content="http://hqwide.com/keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/" />
<meta property="og:type" content="website" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
$(".voteit").click(function(){	
var name=$(this).attr("id");	
var data = {
item_id: 54065,
item_url: /keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/,
item_name: name
};

$.ajax({
type: "POST",
url: "rating.php",
data: data,
success: function(ratings) {							
$("#ratings").html(ratings);
console.log(ratings);
}
}); 
return false;											
});
});
</script>
<script type="text/javascript">
window.___gcfg = {
  lang: 'en-US',
  parsetags: 'onload'
};
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="box">
<div id="header">
<div id="top_navi">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/new-wallpapers/">Latest wallpapers</a></li>
<li><a href="/most-viewed-wallpapers/">Popular wallpapers</a></li>
<li><a href="/top-rated-wallpapers/">Top wallpapers</a></li>
<li><a href="/random-wallpapers/">Random wallpapers</a></li>
</ul>
</div>
<div id="user_res">
<script type="text/javascript">
var user_res = screen.width+'x'+screen.height;
var ratio = screen.height / screen.width;

document.write('Your resolution: '+user_res);
</script>
</div>
<div id="searchbox">
<form method="get" action="/" id="search">
<span class="search_field"><input name="q" type="text" class="search_field" maxlength="100" value="search wallpapers" onfocus="if (this.value == 'search wallpapers') {this.value = '';}" onblur="if (this.value == '') {this.value = 'search wallpapers';}" /></span>
<span class="search_button"><input type="submit" class="search_button" value="Search" /></span>
</form>
</div>
<div id="top_social">
<div id="left_social">
<div class="share1">
<div class="fb-like" data-href="https://www.facebook.com/hqwide" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</div>
<div class="share2">
<div class="g-plusone" data-size="medium" data-href="http://hqwide.com/"></div>
</div>
<div class="share3">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hqwide.com/" data-text="HD background wallpapers. HQ Widescreen wallpapers for your desktop.">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="share4">
<a href="https://twitter.com/hqwide" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @hqwide</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</div>
<div id="right_social">
<a href="https://www.facebook.com/hqwide" target="_blank"><img src="/templates/images/facebook.png" alt="facebook" /></a>
<a href="http://www.pinterest.com/source/hqwide.com/" target="_blank"><img src="/templates/images/pinterest.png" alt="pinterest" /></a>
<a href="https://twitter.com/hqwide" target="_blank"><img src="/templates/images/twitter.png" alt="twitter" /></a>
</div>
</div>
</div>
<div id="content">
<div id="content_left">
<div class="heading">
<h1>Keep calm aviator glasses kcco the chive wallpaper</h1>
</div>
<div id="detail">
<div id="detail_left">
<a href="/wallpapers/l/1920x1080/55/keep_calm_aviator_glasses_kcco_the_chive_1920x1080_54065.jpg" id="detail_img" target="_blank"><img src="/wallpapers/m/55/keep_calm_aviator_glasses_kcco_the_chive_m54065.jpg" alt="Keep calm aviator glasses kcco the chive wallpaper" title="Keep calm aviator glasses kcco the chive wallpaper" /></a>
<div id="ratings"><div id="thumbs"><span class="thumb_up"><a href="/keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/#1" class="voteit" id="vote_up"></a></span><span class="thumb_down"><a href="/keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/#-1" class="voteit" id="vote_down"></a></span></div><span class="votes_zero">(0)</span></div>
</div>
<div id="ad_300x250_1">
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:inline-block;width:300px;height:250px"
        data-ad-client="ca-pub-5350868105287264"
        data-ad-slot="9462404520"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="detail_share">
<div class="detail_share1"><div class="fb-like" data-href="http://hqwide.com/keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div>
<div class="detail_share2"><a href="https://twitter.com/share" class="twitter-share-button" data-text="Keep calm aviator glasses kcco the chive wallpaper" data-via="">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
<div class="detail_share3"><div class="g-plusone" data-size="medium" data-href="http://hqwide.com/keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/"></div></div>
<div class="detail_share4"><a href="http://pinterest.com/pin/create/button/?url=http://hqwide.com/keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/&amp;media=http://hqwide.com/wallpapers/m/55/keep_calm_aviator_glasses_kcco_the_chive_m54065.jpg" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/PinExt.png" title="Pin It" alt="Pin It" /></a></div>
<div class="detail_share5"><a href="//weheartit.com/heart-it" class="heart-it-button" data-type="horizontal" data-image-url="http://hqwide.com/wallpapers/m/55/keep_calm_aviator_glasses_kcco_the_chive_m54065.jpg" data-source-url="http://hqwide.com/keep-calm-aviator-glasses-kcco-the-chive-wallpaper-54065/">Heart It</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//assets1.whicdn.com/assets/heart_it_button.js";fjs.parentNode.insertBefore(js,fjs);}else if(whi){whi.HeartItWidget();}}(document,"script","whi-heartitbutton");</script></div>
</div>
<div id="small_images">
<div class="thumb2"><a href="/black-and-white-soldiers-dice-d20-wallpaper-54064/" title="Black and white soldiers dice d20 wallpaper"><img class="thumb_img2" src="/wallpapers/t/55/black_and_white_soldiers_dice_d20_t54064.jpg" alt="Black and white soldiers dice d20 wallpaper" onmouseover='document.getElementById("small_previous").src="/templates/images/empty.gif"' onmouseout='document.getElementById("small_previous").src="/templates/images/small_previous.png"' /><img src='/templates/images/small_previous.png' class='small_hover' id='small_previous' onmouseover='document.getElementById("small_previous").src="/templates/images/empty.gif"' onmouseout='document.getElementById("small_previous").src="/templates/images/small_previous.png"' alt="" /></a></div>
<div class="thumb2"><a href="/of-soul-and-possibility-control-simple-background-wallpaper-39202/" title="Of soul and possibility control simple background wallpaper"><img class="thumb_img2" src="/wallpapers/t/40/of_soul_and_possibility_control_simple_background_t39202.jpg" alt="Of soul and possibility control simple background wallpaper" /></a></div>
<div class="thumb2"><a href="/graphic-art-psoriasis-wallpaper-29892/" title="Graphic art psoriasis wallpaper"><img class="thumb_img2" src="/wallpapers/t/30/graphic_art_psoriasis_t29892.jpg" alt="Graphic art psoriasis wallpaper" /></a></div>
<div class="thumb2"><a href="/green-nature-wet-raindrops-twig-wallpaper-64596/" title="Green nature wet raindrops twig wallpaper"><img class="thumb_img2" src="/wallpapers/t/65/green_nature_wet_raindrops_twig_t64596.jpg" alt="Green nature wet raindrops twig wallpaper" /></a></div>
<div class="thumb2"><a href="/nature-sand-rocks-bay-sea-wallpaper-54066/" title="Nature sand rocks bay sea wallpaper"><img class="thumb_img2" src="/wallpapers/t/55/nature_sand_rocks_bay_sea_t54066.jpg" alt="Nature sand rocks bay sea wallpaper" onmouseover='document.getElementById("small_next").src="/templates/images/empty.gif"' onmouseout='document.getElementById("small_next").src="/templates/images/small_next.png"' /><img src='/templates/images/small_next.png' class='small_hover' id='small_next' onmouseover='document.getElementById("small_next").src="/templates/images/empty.gif"' onmouseout='document.getElementById("small_next").src="/templates/images/small_next.png"' alt="" /></a></div>
</div>
<div id="ad_728x90_4">
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-5350868105287264"
        data-ad-slot="8193723723"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div id="detail_info">
<div class="detail_info_line"></div>
<div class="detail_info">You are viewing Keep calm aviator glasses kcco the chive HD wallpaper.<br />
This wallpaper has a rating of 0. Image type is jpeg.<br />
In order to download wallpaper which fits your screen check the resolutions listed below.<br />
</div>
<div class="detail_info"><span>Original resolution:</span>
<a href="/wallpapers/l/1920x1080/55/keep_calm_aviator_glasses_kcco_the_chive_1920x1080_54065.jpg" id="res_original" title="Keep calm aviator glasses kcco the chive wallpaper 1920x1080" target="_blank">1920x1080</a> <span style="float: left; margin-left: 10px; width: auto;">(Size: 256.06KB, 2.1MP)</span>
</div>
<div class="detail_info"><span>HD resolutions (16:9):</span>
<a href="/wallpapers/l/1366x768/55/keep_calm_aviator_glasses_kcco_the_chive_1366x768_54065.jpg" id="res_1366x768" title="Keep calm aviator glasses kcco the chive wallpaper 1366x768" target="_blank">1366x768</a>
<a href="/wallpapers/l/1600x900/55/keep_calm_aviator_glasses_kcco_the_chive_1600x900_54065.jpg" id="res_1600x900" title="Keep calm aviator glasses kcco the chive wallpaper 1600x900" target="_blank">1600x900</a>
<a href="/wallpapers/l/1920x1080/55/keep_calm_aviator_glasses_kcco_the_chive_1920x1080_54065.jpg" id="res_1920x1080" title="Keep calm aviator glasses kcco the chive wallpaper 1920x1080" target="_blank">1920x1080</a>
</div>
<div class="detail_info"><span>Widescreen resolutions (16:10):</span>
<a href="/wallpapers/l/1280x800/55/keep_calm_aviator_glasses_kcco_the_chive_1280x800_54065.jpg" id="res_1280x800" title="Keep calm aviator glasses kcco the chive wallpaper 1280x800" target="_blank">1280x800</a>
<a href="/wallpapers/l/1440x900/55/keep_calm_aviator_glasses_kcco_the_chive_1440x900_54065.jpg" id="res_1440x900" title="Keep calm aviator glasses kcco the chive wallpaper 1440x900" target="_blank">1440x900</a>
<a href="/wallpapers/l/1680x1050/55/keep_calm_aviator_glasses_kcco_the_chive_1680x1050_54065.jpg" id="res_1680x1050" title="Keep calm aviator glasses kcco the chive wallpaper 1680x1050" target="_blank">1680x1050</a>
<a href="/wallpapers/l/1920x1200/55/keep_calm_aviator_glasses_kcco_the_chive_1920x1200_54065.jpg" id="res_1920x1200" title="Keep calm aviator glasses kcco the chive wallpaper 1920x1200" target="_blank">1920x1200</a>
</div>
<div class="detail_info"><span>Normal resolutions:</span>
<a href="/wallpapers/l/1024x768/55/keep_calm_aviator_glasses_kcco_the_chive_1024x768_54065.jpg" id="res_1024x768" title="Keep calm aviator glasses kcco the chive wallpaper 1024x768" target="_blank">1024x768</a>
<a href="/wallpapers/l/1280x1024/55/keep_calm_aviator_glasses_kcco_the_chive_1280x1024_54065.jpg" id="res_1280x1024" title="Keep calm aviator glasses kcco the chive wallpaper 1280x1024" target="_blank">1280x1024</a>
</div>
<div class="detail_info">
To set this Keep calm aviator glasses kcco the chive high definition wallpaper as your desktop background follow the instructions by your browser:<br />
Google Chrome - right click on wallpaper and select the option 'Save image as'.<br />
Mozilla FireFox - right click on wallpaper and select the option 'Set As Desktop Background' or 'Save Image As'.<br />
Microsoft Internet Explorer - right click on wallpaper and select the option 'Set as background' or 'Save picture as'.<br />
</div><div class="detail_info">See tags bellow for similar wallpapers:</div>
<div class="detail_info"><span>Wallpapers tags:</span>
<a href="/keep/" title="keep wallpapers">keep</a>
<a href="/calm/" title="calm wallpapers">calm</a>
<a href="/aviator/" title="aviator wallpapers">aviator</a>
<a href="/glasses/" title="glasses wallpapers">glasses</a>
<a href="/kcco/" title="kcco wallpapers">kcco</a>
<a href="/chive/" title="chive wallpapers">chive</a>
</div>
</div>
<div id="ad_728x90_5">
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-5350868105287264"
        data-ad-slot="2147190120"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
</div>
<script type="text/javascript">
var res_array = new Array("1920x1080", "1600x900", "1366x768", "1920x1200", "1680x1050", "1440x900", "1280x800", "1280x1024", "1024x768");
var user_res = screen.width+'x'+screen.height;

if (res_array.indexOf(user_res) != -1){
var res_id = 'res_'+screen.width+'x'+screen.height;
var res_original = '1920x1080';
document.getElementById(res_id).style.fontWeight = 'bold';
if (res_original == screen.width+'x'+screen.height)
document.getElementById('detail_img').href = '/wallpapers/l/1920x1080/55/keep_calm_aviator_glasses_kcco_the_chive_1920x1080_54065.jpg';
else
document.getElementById('detail_img').href = '/wallpapers/l/'+screen.width+'x'+screen.height+'/55/keep_calm_aviator_glasses_kcco_the_chive_'+screen.width+'x'+screen.height+'_54065.jpg';
}
</script>
<div class="heading">
<h2>Random Wallpapers</h2>
</div>
<div id="random_box">
<div class="thumb">
<a href="/cars-dodge-challenger-wallpaper-4208/"><img class="thumb_img" src="/wallpapers/s/5/cars_dodge_challenger_s4208.jpg" title="Cars dodge challenger wallpaper" alt="Cars dodge challenger wallpaper" /></a>
<span>Cars dodge challenger wallpaper (960x640)</span>
</div>
<div class="thumb">
<a href="/video-games-loading-space-wallpaper-50532/"><img class="thumb_img" src="/wallpapers/s/51/video_games_loading_space_s50532.jpg" title="Video games loading space wallpaper" alt="Video games loading space wallpaper" /></a>
<span>Video games loading space wallpaper (1193x841)</span>
</div>
<div class="line_break"></div>
<div class="thumb">
<a href="/bioshock-infinite-2013-wallpaper-77074/"><img class="thumb_img" src="/wallpapers/s/78/bioshock_infinite_2013_s77074.jpg" title="Bioshock infinite 2013 wallpaper" alt="Bioshock infinite 2013 wallpaper" /></a>
<span>Bioshock infinite 2013 wallpaper (1920x1200)</span>
</div>
<div class="thumb">
<a href="/outer-space-stars-art-wallpaper-52343/"><img class="thumb_img" src="/wallpapers/s/53/outer_space_stars_art_s52343.jpg" title="Outer space stars art wallpaper" alt="Outer space stars art wallpaper" /></a>
<span>Outer space stars art wallpaper (1600x1200)</span>
</div>
</div>
</div>
<div id="content_right">
<div id="list1">
<h3>Resolutions</h3>
<ul>
<li>HD</li>
<li><a href="/1280x720/" id="res1_1280x720">1280x720</a> (16:9)</li>
<li><a href="/1600x900/" id="res1_1600x900">1600x900</a> (16:9)</li>
<li><a href="/1920x1080/" id="res1_1920x1080">1920x1080</a> (16:9)</li>
<li><a href="/2560x1440/" id="res1_2560x1440">2560x1440</a> (16:9)</li>
<li><a href="/3840x2160/" id="res1_3840x2160">3840x2160</a> (16:9)</li>
<li>Wide</li>
<li><a href="/1280x800/" id="res1_1280x800">1280x800</a> (16:10)</li>
<li><a href="/1440x900/" id="res1_1440x900">1440x900</a> (16:10)</li>
<li><a href="/1600x1000/" id="res1_1600x1000">1600x1000</a> (16:10)</li>
<li><a href="/1680x1050/" id="res1_1680x1050">1680x1050</a> (16:10)</li>
<li><a href="/1920x1200/" id="res1_1920x1200">1920x1200</a> (16:10)</li>
<li><a href="/2560x1600/" id="res1_2560x1600">2560x1600</a> (16:10)</li>
<li><a href="/2880x1800/" id="res1_2880x1800">2880x1800</a> (16:10)</li>
<li><a href="/3840x2400/" id="res1_3840x2400">3840x2400</a> (16:10)</li>
<li>Normal</li>
<li><a href="/800x600/" id="res1_800x600">800x600</a> (4:3)</li>
<li><a href="/1024x768/" id="res1_1024x768">1024x768</a> (4:3)</li>
<li><a href="/1280x960/" id="res1_1280x960">1280x960</a> (4:3)</li>
<li><a href="/1600x1200/" id="res1_1600x1200">1600x1200</a> (4:3)</li>
<li><a href="/1920x1440/" id="res1_1920x1440">1920x1440</a> (4:3)</li>
<li><a href="/2048x1536/" id="res1_2048x1536">2048x1536</a> (4:3)</li>
<li><a href="/2560x1920/" id="res1_2560x1920">2560x1920</a> (4:3)</li>
<li><a href="/3264x2448/" id="res1_3264x2448">3264x2448</a> (4:3)</li>
<li><a href="/1280x1024/" id="res1_1280x1024">1280x1024</a> (5:4)</li>
</ul>
</div>
<script type="text/javascript">
var res_array = new Array("1280x720","1600x900","1920x1080","2560x1440","3840x2160","1280x800","1440x900","1600x1000","1680x1050","1920x1200","2560x1600","2880x1800","3840x2400","800x600","1024x768","1280x960","1600x1200","1920x1440","2048x1536","2560x1920","3264x2448","1280x1024");
var user_res = screen.width+'x'+screen.height;

if (res_array.indexOf(user_res) != -1){
var res_id = 'res1_'+screen.width+'x'+screen.height;
document.getElementById(res_id).style.fontWeight = 'bold';
}
</script>
<div id="ad_125x125">
<script type="text/javascript">
//default banner house ad url 
clicksor_enable_adhere = false;
clicksor_default_url = '';
clicksor_banner_border = '#f9f9f9'; clicksor_banner_ad_bg = '#f9f9f9';
clicksor_banner_link_color = '#7d7d7d'; clicksor_banner_text_color = '#000000';
clicksor_banner_image_banner = true; clicksor_banner_text_banner = true;
clicksor_layer_border_color = '#f9f9f9';
clicksor_layer_ad_bg = '#f9f9f9'; clicksor_layer_ad_link_color = '#7d7d7d';
clicksor_layer_ad_text_color = '#000000'; clicksor_text_link_bg = '';
clicksor_text_link_color = ''; clicksor_enable_text_link = false;
clicksor_layer_banner = false;
</script>
<script type="text/javascript" src="http://ads.clicksor.com/newServing/showAd.php?nid=1&amp;pid=285294&amp;adtype=3&amp;sid=533364"></script>
</div>
</div>
</div>
<div id="footer">
<div id="footer_info">
<a href="/contact/">Contact</a> | <a href="/privacy-policy/">Privacy</a>
</div>
<div class="counter">
<script type="text/javascript"><!--
document.write("<img src='//counter.yadro.ru/hit?t45.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='HD wallpapers' title='HD wallpapers' "+
"border='0' width='31' height='31'>")
//--></script>
</div>
</div>
</div>
</body>
</html>