<footer class="spacer">
    <div class="footer container-fluid">
			<div class="row col-md-12 col-centered">
				<h3 class="col-md-4 glow white">-<a href="https://github.com/bootcoder/BootCoder_Profile">Source</a>-</h3>
				<h3 class="col-md-4 glow white">Thank you for stopping by.<br><a class="white" href="https://www.dropbox.com/s/rz5j09uqvxgsfmb/Resume-14-W9-Master.pdf?dl=0" target="_blank">Resume on Dropbox</a></h3>
				<h3 class="col-md-4 glow white">-<%= link_to( "Gallery", "gallery" ) %>-</h3>
      </div>    
   
    </div>


    <div class="col-md-6 col-centered row mar-top30 bg-site bg-trans curved-4">
    <div class="pad-2">
      <h5 class="glow white">You've reached the end, but wait! There's more.<br>Find me on these social networks.</h5>
      <ul class="social-network">
        <li><a href="https://github.com/bootcoder" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="http://www.linkedin.com/in/bootcoder/" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="https://twitter.com/BootCoder" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="https://www.facebook.com/BlueTyGator" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="https://plus.google.com/103574033267788117799" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <br>
        
      </ul>      
    </div>
  </div>
  </footer>