	<h3 class="white glow">Thank you for stopping by</h3>
  <div class="col-md-12 col-centered bg-site pad-1">
    <ul class="social-network">
      <li><%= link_to( "Gallery", "gallery", class: "glow pad-5P-LR") %></li>
      
        <li><a href="https://github.com/bootcoder" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="http://www.linkedin.com/in/bootcoder/" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="https://twitter.com/BootCoder" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="https://www.facebook.com/BlueTyGator" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
        <li><a href="https://plus.google.com/103574033267788117799" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span></a>
        </li>
      	<li><a class="glow pad-5P-LR" href="https://github.com/bootcoder/BootCoder_Profile">Source</a></li>
      
    </ul>      
	</div>